<h1>Add shape</h1>
    <form action="/add" method="post">
        <div>
            <h6>Shape name</h6>
            <input type="text" name="shape" class="text" placeholder="" >
        </div>
        <div>
            <h6>Quantity</h6>
            <input type="text" name="qty" class="text" >
        </div>
        <div>
            <button class="button-primary" type="submit">Add</button>
        </div>
    </form>