<div class="container">
    <h2>Shape Game</h2>


    <form action="/" method="post">
        <h6>Player name</h6>
        <input type="text" name="player" class="text">

        <button class="button primary" type="submit">Add</button>
    </form>

    <a href="bouncing.html"><button class="button primary">Play</button></a>

</div>