<div class="container">
   <header>
            <div class="header">
                <h1>kiddies shapes</h1>
                <br>
                <img src="./images/circle.jpg" alt="no circle" style="width: 80px; height: 80px;">
                <img src="./images/triangle.jpg" alt="no triangle" style="width: 80px; height: 80px;">
                <img src="./images/heart.jpg" alt="no heart" style="width: 80px; height: 80px;">
            </div>
        </header>

    <style>
        body {
                background-image: url('./images/kids.jpg');
                background-repeat: repeat no-repeat;

            }
    </style>

    <a href="bouncing.html"><button class="button primary">Play</button></a>

    <h3>Instructions</h3>
    <div>
    <h5>To start the game , show :
        <br>
    <img src="./images/folded.jpg" alt="no picture" style="width: 200px; height: 200px;">
    </h5>
    </div>


    {{!-- <form action="/" method="post">
        <h6>Player name</h6>
        <input type="text" name="player" class="text">

        <button class="button primary" type="submit">Add</button>
    </form> --}}


</div>