<div class="container">
    <h2>Kiddies Shapes</h2>

    <style>
        body {
                background-image: url('./images/kids.jpg');
                background-repeat: repeat no-repeat;

            }
    </style>


    {{!-- <form action="/" method="post">
        <h6>Player name</h6>
        <input type="text" name="player" class="text">

        <button class="button primary" type="submit">Add</button>
    </form> --}}

    <a href="bouncing.html"><button class="button primary">Play</button></a>

  

</div>